*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto Cn", sans-serif;
}

a {
  text-decoration: none;
  color: #eee;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6%;
  padding: 2px 100px;
}
header {
  width: 100%;
  height: 100vh;
  background: url("./../injection.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

.menu-toggle {
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  color: #eeeeee;
  font-size: 3rem;
  cursor: pointer;
  z-index: 1000;
  display: none;
}

nav {
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.6rem;
  position: relative;
  overflow: hidden;
}

.brand {
  font-size: 3rem;
  font-weight: 300;
  transform: translateX(-100rem);
  animation: slideIn 0.5s forwards;
  position: relative;
}

.brand span {
  color: crimson;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn 0.5s forwards;
}

nav ul li:nth-child(1) {
  animation-delay: 0s;
}

nav ul li:nth-child(2) {
  animation-delay: 0.5s;
}

nav ul li:nth-child(3) {
  animation-delay: 1s;
}

nav ul li:nth-child(4) {
  animation-delay: 1.5s;
}

nav ul li a {
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

nav ul li a:last-child {
  margin-right: 0;
}

nav ul li a::before,
nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: crimson;
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s;
}

nav ul li a::before {
  top: 0;
  transform-origin: left;
}

nav ul li a::after {
  bottom: 0;
  transform-origin: right;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  transition: opacity 650ms;
  transform: scale(0);
  opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
  transform: scaleX(1);
}

table {
  margin-right: auto;
  width: 100%;
  font-size: large;
  border-color: black;
  margin-left: auto;
}

@keyframes slideIn {
  from {
  }
  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 700px) {
  .menu-toggle {
    display: block;
  }

  nav {
    padding-top: 0;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-top: 5rem;
  }

  nav ul li a {
    margin: 0;
    font-size: 2.5rem;
  }

  .brand {
    font-size: 5rem;
  }

  .overlay.menu-open,
  nav.menu-open {
    display: flex;
    transform: scale(1);
    opacity: 1;
  }
}

.banner-area {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("./../injection.jpg") center no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
  top: 0;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
}

.banner-text h1 {
  font-size: 60px;
  font-weight: 500px;
  font-family: "Proza Libre", sans-serif;
}
.banner-text h2 {
  font-size: 30px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}
.btn {
  border: 1px solid #228b22;
  background: none;
  padding: 15px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.btn1 {
  color: #fff;
}

.btn1:hover {
  color: #228b22;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #228b22;
  z-index: -1;
  transition: 0.8s;
}
.btn1::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn1::before {
  height: 180%;
}

.btn1:hover::before {
  height: 0%;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #00a8ff;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

#myBtn:hover {
  background: #606060;
}
